<launch>

    <arg name="robot_name" default="alpha"/>
    <arg name="model_num"  default="1"/>
    <arg name="is_sim" default="false"/>
    <!-- <arg name="model_date" default="09-27"/> -->
    <arg name="bag_date" default ="09-27-09"/>
    <node pkg ="tensorflow_dvl" name = "tensorflow_dvl" type = "tf_dvl_node.py" output="screen" >
        <param name="/u_model_dir" type="string" value="$(find tensorflow_dvl)/config/models/u"/>
        <param name="/v_model_dir" type="string" value="$(find tensorflow_dvl)/config/models/v"/>
        <param name="/w_model_dir" type="string" value="$(find tensorflow_dvl)/config/models/w"/>
        <param name="/hz" type="double" value="50"/>
        <param name="/enable_depth" type="double" value="0.6"/>
    </node>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/15-12/2022-09-15-10-58-31.bag"
    if="$(eval arg('bag_date') == '09-15-12')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/15-13/2022-09-15-11-08-51.bag"
    if="$(eval arg('bag_date') == '09-15-13')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/15-17/2022-09-15-12-16-23.bag"
    if="$(eval arg('bag_date') == '09-15-17')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/27-14/2022-09-27-17-29-26.bag"
    if="$(eval arg('bag_date') == '09-27-14')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/27-16/2022-09-27-17-41-09.bag"
    if="$(eval arg('bag_date') == '09-27-16')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/27-17/2022-09-27-17-47-21.bag"
    if="$(eval arg('bag_date') == '09-27-17')"/>
    <node pkg="rosbag" type="play" name="player" output="log" args=" $(find tensorflow_dvl_bags)/bags/27-09/2022-09-27-15-58-45.bag"
    if="$(eval arg('bag_date') == '09-27-09')"/>

    <!-- loc use tf node -->
    <node ns="$(arg robot_name)" name="alpha_localization_local_tf" pkg="robot_localization" type="ekf_localization_node" output="screen">
        <rosparam command="load" file="$(find tensorflow_dvl)/config/localization.yaml"/>
        <param name="base_link_frame" type="string" value="$(arg robot_name)/base_link"/>
        <param name="odom_frame" type="string" value="$(arg robot_name)/odom"/>
        <param name="world_frame" type="string" value="$(arg robot_name)/odom"/>

        <remap from="odometry/filtered" to="odometry/filtered/local2"/>
        <remap from="accel/filtered" to="accel/filtered/local2"/>

        <param name="imu0" value="/imu/data"/>
        <rosparam param="imu0_config">
        [false, false, false,
         true,   true,  true,
         false, false, false,
         true,   true,  true,
         true,   true,  true]
        </rosparam>
        <param name="imu0_nodelay" value="true"/>
        <param name="imu0_relative" value="false"/>
        <param name="imu0_queue_size" value="100"/>
        <param name="imu0_remove_gravitational_acceleration" value="$(eval not arg('is_sim'))"/>

        <param name="twist0" value="/tensorflow_dvl/twist"/>
        <rosparam param="twist0_config">
        [false, false, false,
         false, false, false,
         true, true, true,
         false, false, false,
         false, false, false]
        </rosparam>
        <param name="twist0_nodelay" value="true"/>
        <param name="twist0_relative" value="false"/>
        <param name="twist0_queue_size" value="20"/>

        <param name="pose0" value="/depth_filtered"/>
        <rosparam param="pose0_config">
        [false, false,  true,
         false, false, false,
         false, false, false,
         false, false, false,
         false, false, false]
        </rosparam>
        <param name="pose0_differential" value="false"/>
        <param name="pose0_relative" value="false"/>
        <param name="pose0_queue_size" value="10"/>
        <param name="pose0_nodelay" value="true"/>
    </node>

    <!-- loc use dvl -->
    <node ns="$(arg robot_name)" name="alpha_localization_local_dvl" pkg="robot_localization" type="ekf_localization_node" output="screen">
        <rosparam command="load" file="$(find tensorflow_dvl)/config/localization.yaml"/>
        <param name="base_link_frame" type="string" value="$(arg robot_name)/base_link"/>
        <param name="odom_frame" type="string" value="$(arg robot_name)/odom"/>
        <param name="world_frame" type="string" value="$(arg robot_name)/odom"/>

        <remap from="odometry/filtered" to="odometry/filtered/local3"/>
        <remap from="accel/filtered" to="accel/filtered/local3"/>

        <param name="imu0" value="/imu/data"/>
        <rosparam param="imu0_config">
        [false, false, false,
         true,   true,  true,
         false, false, false,
         true,   true,  true,
         true,   true,  true]
        </rosparam>
        <param name="imu0_nodelay" value="true"/>
        <param name="imu0_relative" value="false"/>
        <param name="imu0_queue_size" value="100"/>
        <param name="imu0_remove_gravitational_acceleration" value="$(eval not arg('is_sim'))"/>

        <param name="twist0" value="/dvl/twist"/>
        <rosparam param="twist0_config">
        [false, false, false,
         false, false, false,
         true, true, true,
         false, false, false,
         false, false, false]
        </rosparam>
        <param name="twist0_nodelay" value="true"/>
        <param name="twist0_relative" value="false"/>
        <param name="twist0_queue_size" value="20"/>

        <param name="pose0" value="/depth_filtered"/>
        <rosparam param="pose0_config">
        [false, false,  true,
         false, false, false,
         false, false, false,
         false, false, false,
         false, false, false]
        </rosparam>
        <param name="pose0_differential" value="false"/>
        <param name="pose0_relative" value="false"/>
        <param name="pose0_queue_size" value="10"/>
        <param name="pose0_nodelay" value="true"/>
    </node>

</launch>